scipy
scikit-learn
pandas
pandas-datareader
matplotlib
pillow
tqdm
h5py 
tensorflow
keras 
openPyxl
pymongo 
pyyaml
psutil
pyarrow
seaborn 
ipython
pyspark
jupyter
requests
tabulate
colorama
future
tables
deap
django-dag
bitstring
gym
JSAnimation
loader
sparkdl
pprint
mysql-connector-python
tensorframes 
kafka
tensorflowonspark 
jieba
nltk
jupyterlab
h2o
graphviz
